* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* To Box Model */
}
body {
  font-family: "Merriweather", sans-serif;
  background-color: #ebf2ff;
  overflow-x: hidden;
}

/* NAVIGATION BAR */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 5px;
  margin-bottom: 13px;
  background-color: #f9fafc;
}

.navbar__brand {
  width: 100px;
}

.navbar__logo {
  width: 100%;
}

.button_primary {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  background-color: red;
  color: #fff;
  padding: 12px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

/* HERO SECTION */

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0px 15px;
}

.hero__container {
  width: 100%;
  padding-bottom: 50px;
}

.hero__image__container {
  width: 100%;
  position: relative;
}

.hero__image {
  width: 100%;
}

.hero__text {
  font-size: 30px;
  color: #1d3557;
  margin: 20px 0px;
}

/* MENU STYLES */

.explore__menu__container {
  padding-bottom: 10px;
  position: relative;
}

.explore__menu__text {
  color: #1d3557;
  text-align: center;
  margin: 10px 0;
  font-size: 30px;
}

.food__menu__card {
  background-color: #fff;
  padding-bottom: 30px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 8px;
}

.pattern {
  position: absolute;
}

.food__image {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.food__menu__text {
  padding: 20px;
}

/* VIEW MORE*/

.explore__menu__view__more {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.view__more__button {
  padding: 13px 140px;
  font-size: 20px;
  cursor: pointer;
}


/* RESTO GRID */

.restaurants__text{
  font-size: 25px;
  color: #1d3557;
  margin: 20px 0px;
  padding-bottom: 20px;
}

.restaurant__row1,.restaurant__row2{
  width: 100%;
  display: flex;
  gap: 5px;
  
}

.restaurant__1,
.restaurant__2,
.restaurant__3,
.restaurant__4{
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.rest__1, .rest__4{
  height: 120px;
  width: 100%;
}

.rest__2, .rest__3{
  height: 150px;
  width: 130%;
}

.restaurant__row1{
  align-items: baseline;
  margin-bottom: 10px; 
}


/* STAY UPDATED */

.stay__updated__container{
  width: 100%;
  
}

.stay__updated__text{
  padding-top: 70px;
  padding-left: 10px;
}

.stay__updated{
  font-size: 25px;
  color: #1d3557;
  margin-bottom: 8px;
}

.stay__updated__flex{
  display: flex;
  padding: 10px;
  gap: 10px;
  justify-content: baseline;
}

.email{
  border: 1px solid #ee89a0;
  background-color: #fcedf0;
  border-radius: 5px;
  padding: 7px;
}

.get__updates__button{
  width: 100%;
}

.get__updates{
  width: 85%;
  padding: 7px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 0.87em;

}


/* RESTAURANT QUOTE */

.restaurant__quote__container{
  width: 100%;
  position: relative;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  height: 200px;
  border-radius: 13px;
  background: url("https://images.unsplash.com/photo-1522336572468-97b06e8ef143?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80")
  center center/ cover no-repeat;

  align-items: center;
  justify-content: center;
}

.restaurant__quote__image{
  width: 100%;
  position: absolute;
  background-color: #0a4065;
  opacity: 50%;
  height: 200px;
  border-radius: 13px;
}


.restaurant__quote__text{
  position: absolute;
  color: #fff;
  text-align: center;
 
}


/* FOOTER */
.footer__container{
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  margin-top: 80px;
  border-radius: 20px 20px 0px 0px;
}

.footer__logo{
  width: 80%;
  padding-left: 90px;
  filter: brightness(100) ;
}

.footer__list{
  padding-top: 10px;
}

li{
  color: #fff;
  font-weight: bold;
  list-style: none;
  
}
.footer__list__item{
  
  padding-left: 30%;
  padding-bottom: 10px;
}









@media (min-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
    height: 80px;
    
    margin-bottom: 20px;
  }

  .navbar__brand {
    width: 150px;
    padding: 20px;
  }

  .button_primary {
    padding: 12px 20px;
    font-size: 20px;
  }

  .hero__container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 100px;
  }

  .explore__menu__lists {
    display: flex;
    gap: 10px;
    margin-top: 50px;
  }

  #pizza__card {
    margin-top: -20px;
    margin-bottom: 30px;
  }

  .explore__menu__text {
    font-size: 40px;
  }

  .explore__menu__bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
      to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
    );
    z-index: -3;
    transform: skewY(-5deg);
  }

  .restaurants__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    
    
  }
  .restaurants__grid{
    padding-left: 80px;
    margin-left: 80px;

  }

  .restaurants__text{
    font-size: 40px;
    text-align: center;
    width: 100%;
  }
 

  .stay__updated__container{
    padding-left: 100px;
  }

  .stay__updated{
    font-size: 2em;
  }

  .stay__updated__flex{
    align-items: baseline;
    padding: 20px;
  }
  
  .email{
    padding: 10px;
  }
  .get__updates__button{
    padding: 10px;
    padding-left: 0px;
    
    
  }
  





}

@media (min-width: 1020px) {
  .navbar {
    justify-content: space-between;
  }

  .container {
    max-width: 900px;
  }

  .hero__container {
    padding-bottom: 100px;
  }

  .hero__image__container {
    width: 100%;
  }

  .hero__text {
    font-size: 50px;
  }

  .explore__menu__text {
    font-size: 60px;
  }

  .explore__menu__bg {
    margin-top: 50px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
      to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
    );
    z-index: -3;
    transform: skewY(-5deg);
  }

  .explore__menu__lists {
    gap: 20px;
    padding: 0px 20px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1300px;
  }
}
