* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* To Box Model */
}
body {
  font-family: "Merriweather", sans-serif;
  background-color: #ebf2ff;
  overflow-x: hidden;
}

/* NAVIGATION BAR */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}
.navbar__brand {
  width: 100px;
}
.navbar__logo {
  width: 100%;
}
.button_primary {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  background-color: red;
  color: #fff;
  padding: 12px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

/* HERO SECTION */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0px 15px;
}

.hero__container {
  width: 100%;
}
.hero__image__container {
  width: 100%;
}
.hero__image {
  width: 100%;
}

.hero__text{
    font-size: 30px;
    color: #1d3557;
    margin: 20px 0px;
}


/* MENU STYLES */

.explore__menu__container{
    padding-top: 50px;
    
}
.explore__menu__lists{

}
.explore__menu__text{
    color: #1d3557;
    text-align: center;
    margin: 20px 0;
    font-size: 30px;
    
}
.food__menu__card{
    background-color: #fff;
    padding-bottom: 30px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 8px;
}
.pattern{
    position: absolute;
   
}
.food__image{
    width: 100%;
    border-radius: 8px 8px 0 0;
}
.food__menu__text{
    padding: 20px;
}
.explore__menu__view__more{
    display: flex;
    justify-content: center;
    padding: 50px;
}

@media (min-width: 768px) {
    .navbar {
        justify-content: space-between;
        padding: 10px 20px;
      }
      .navbar__brand {
        width: 150px;
      }
      .button__primary {
        padding: 12px 20px;
        font-size: 20px;
      }
      .hero__container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
      }
      .explore__menu__lists{
          display: flex;
          gap:10px;
          margin-top: 50px;
      }
}
@media (min-width: 1020px) {
  .navbar {
    justify-content: space-between;
  }
  .container {
    max-width: 900px;
  }
  .hero__image__container{
      width: 100%;
  }
  .hero__text{
      font-size: 50px;
  }
 
}
@media (min-width: 1400px) {
    .container{
        max-width: 1300px;
    }
}
