
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* To Box Model */
  }
body {
    font-family: "Merriweather", sans-serif;
    background-color: #ebf2ff;
    overflow-x: hidden;
  }
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
.navbar__brand{
    width: 100px;
}
.navbar__logo{
    width: 100%;
}
.button_primary{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
      );
      background-color: red;
      color: #fff;
      padding: 11px;
      border-radius: 10px;
      border: none;
      cursor: pointer;
}


.container{
    width: 100%;
    margin: 0 auto;
    padding: 0px 15px;
}

.hero__container{
    width: 100%;
}
.hero__image__container{
    width: 100%;
}
.hero__image{
    width: 100%;
}

@media (min-width: 768px) {
    .navbar{
        width: 100%;
        justify-content: space-between;
        padding: 10px 20px;
    }
    .navbar__brand{
        width: 150px;
    }
    .button_primary{
        padding: 20px;
        font-size: 20px;
    }
    .hero__container{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

    } 
}
@media (min-width: 1020px) {
    .navbar{
        justify-content: space-between;
    }
    .container{
        max-width: 1010px;
    }
    .hero__image__container{
        width: 500px;
        height: 500px;
    }
}
@media (min-width: 1400px) {
    
}
  